@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@300&family=Poppins:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;

 }
/* img {
  margin: 0;
  padding: 0;

} */


body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #f3efed;
  color: #8c2f39;
  font-family: 'Montserrat', sans-serif;
}

.titulo-destaque {
  color: #d4606e;
}

img {
  height: 460px;
  width: 480px;
}


.subtitulo {
  color: #70c0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 155;
  width: 500px;

}

.apresentacao {
  margin: 8% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.apresentacao__conteudo {
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.apresentacao__titulo {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  ;
}

.apresentacao__texto {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* .icone{
  height: 24px; 
  width: 24px;} */

.apresentacao__links__link {
  border: 3px solid #da8484;
  width: 378px;
  text-align: center;
  border-radius: 16px;
  font-weight: 450;
  font-size: 24px;
  padding: 12.5px 0;
  text-decoration: none;
  color: rgb(219, 88, 55);
  font-family: 'Poppins', sans-serif;
}

.iconeimg {
  height: 24px;
  width: 24px;
}